*{
  font-family: 'Press Start 2P';font-size: 22px;
}

body{
  background-color: black;
  color: orange;
}

.App {
  text-align: center;
}

button {
  background: transparent;
  border: none;
  color: orange;
  width: fit-content;
}

button:hover {
  font-size: 24px;
  color: orangered;
}
